.header__lang-link {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.17;
  text-decoration-line: none;
  color: #fff;
  transition: opacity 0.2s linear;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.1;
  }
}
